<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image" href="src/imgs/me blue 3.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <title>Salvatore Butera Website</title>
  </head>
  <body>
    <main id="app">
      <div class="progress-bar" ref="progress-bar">
      </div>
      <div>
        <div class="center to-animate" ref="page">
          <div v-if="selectedButton.id == 'home-profile'">
            <div class="front-page">
              <div class="intro-container">
                <h1>
                  <span class="intro">Hey there!</span> 
                  <span class="intro">I'm Salvatore Butera,</span> 
                  <span class="intro">Jr Full Stack <strong> Web developer </strong></span> 
                </h1>
                <div>
              </div>
              </div>
              <div>
                <img class="profile-img" src="src/imgs/me blue 3.jpg" alt="">
              </div>
            </div>
            <div class="text-center">
              <button type="button" @click="setActive('about-me')" class="btn btn-outline-primary">About me</button>
            </div>
          </div>


          <div v-if="selectedButton.id == 'about-me'" class="responsive-fix1">
            <div class="about-me-section">
              <div>
                <h2 class="">ABOUT ME</h2>
                <p class="" style="z-index: 5;">I am a Jr Full Stack Web Developer passionate about
                <strong>computer science</strong>  and <strong>computer graphics</strong>. I know how to use
                numerous frameworks for the development of web
                applications both on <strong>front-end</strong> and <strong>back-end</strong>  side. I
                am always ready to challenge myself and learn new things
                every day.
                </p>
              </div>
              <div class="side-photo-container">
                <img  src="src/imgs/me blue 3.jpg" class="side-photo padding-mobile" alt="">
              </div>
            </div>
            <div class="text-center mt-5 mb-3">
              <button type="button" @click="setActive('career')" class="btn btn-outline-primary">Career</button>
            </div>
          </div>
          
          <div v-if="selectedButton.id == 'career'">
            <div  class="d-flex justify-content-center">
              <div class="overflow-hidden">
                <div class="m-4 ntt-container" id="rise-up">
                  <img src="src/imgs/nttdata.png" alt="" srcset="">
                </div>
              </div>
              <div class="flex-grow-1 p-lg-5">
                <div>
                  <h2>
                    EXPERIENCE
                  </h2>
                  <ul>
                    <li>
                      <span>Software Developer Engineer</span> 
                      <i class="mt-2 d-block">
                         NTT DATA 
                         <i class="fa fa-calendar" aria-hidden="true"></i>  
                         Feb 2022 - in Progress since 2024
                      </i>
                      <p>
                        During my apprenticeship I used some technology such as <strong>Angular</strong> 
                        and programmed in <strong>Typescript</strong> synchronizing repo with git. 
                      </p>
                    </li>
                    <li class="">
                      <span>Junior Full Stack Developer</span> 
                      <i class="mt-2 d-block">
                        NTT DATA 
                        <i class="fa fa-calendar" aria-hidden="true"></i> 
                        Sep 2021 - Feb 2022
                      </i>
                      <p>
                        During the internship at NTT DATA I developed some front-end and back-end parts and I managed 
                        bug fixes related to projects such as Mercedes and Carrefour.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="text-center mt-5 mb-3">
              <button type="button" @click="setActive('education')" class="btn btn-outline-primary">Education</button>
            </div>
          </div>

          <div v-if="selectedButton.id == 'education'" class="education">
            <h2 class="text-center">EDUCATION</h2>
            <div class="d-flex flex-column justify-content-center">
              <div class="education-block">
                <div class="d-flex align-items-center m-4 education-flex">
                    <div class="logo-education">
                      <img src="src/imgs/boolean.png" alt="">
                    </div>
                    <div>
                      <h4>
                        Boolean
                      </h4>
                      <div>
                        <i>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          Full Remote specialization course 
                          <div>
                            <i class="fa fa-calendar"></i> 
                            Feb 2021 - Jul 2021
                          </div> 
                        </i>
                        <div>
                          <div class="mt-2">
                            <span>
                              6-month full-time intensive course led by senior developers.
                            </span>
                            <span>
                              HTML5 - CSS3 - SCSS - SASS - Bootstrap 4 - Flexbox - Javascript - Vue JS - LARAVEL - PHP
                            </span>
                          </div>
                         
                        </div>
                      </div>
                   </div>
                 </div>
              </div>
              <div class="education-block">
                <div class="d-flex align-items-center m-4 education-flex">
                    <div class="logo-education">
                      <img src="src/imgs/unical.jpg" alt="">
                    </div>
                    <div>
                      <h4>
                        University Degree in Scienze della Comunicazione
                      </h4>
                      <div>
                        <i>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          Università della Calabria 
                          <div>
                            <i class="fa fa-calendar"></i> 
                            Sep 2017 - Dec 2020
                          </div>
                          
                        </i>
                        <div class="mt-2">
                          <span>
                            Thesis: Analisi sulla robustezza dei formati immagine
                          </span>
                        </div>
                      </div>
                   </div>
                 </div>
              </div>
              <div class="education-block">
                <div class="d-flex align-items-center m-4 education-flex">
                    <div class="logo-education">
                      <img src="src/imgs/ITIS.jpg" alt="">
                    </div>
                    <div>
                      <h4>
                        High school diploma in Computer Science
                      </h4>
                      <div>
                        <i>
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          Istituto Tecnico Industriale E. Scalfaro - Catanzaro <i class="fa fa-calendar"></i>  
                          <div>
                            <i class="fa fa-calendar"></i> 
                            Set 2012 - Jul 2017 
                          </div> 
                        </i>
                        <div class="mt-2">
                          <span>
                            Basic and advanced knowledge of C, C++, JAVA, OOP, SQL, Systems and Networks, Assembly, ecc.
                          </span>
                        </div>
                      </div>
                   </div>
                 </div>
              </div>
            </div>
            <div class="text-center mt-5 mb-3">
              <button type="button" @click="setActive('works')" class="btn btn-outline-primary">Works</button>
            </div>
          </div>

          <div v-if="selectedButton.id == 'works'">
            <!-- <h2 class="text-center">WORKS</h2> -->
            <h4 class="text-center">Here we have some projects created during Boolean Trainee</h4>
            <div class="d-flex m-5 works-section row">
              <a @mouseenter="playWind()" @mouseleave="stopWind()" href="https://salvatoreb98.github.io/vue-boolflix/" class="work-container col-lg-3 col-md-6" target="_blank" >
                <img src="src/imgs/Boolflix.png" class="w-100" alt="">
                <div class="work-description">
                  Boolflix 
                  <br> Technology used:
                   <br> VueJS, Ajax, Bootstrap, SCSS
                   <div>
                     <img class="project-icon" src="src/imgs/vue-js.png">
                     <img class="project-icon" src="src/imgs/ajax.jpg">
                     <img class="project-icon" src="src/imgs/bootstrap.png">
                     <img class="project-icon" src="src/imgs/scss.png">
                   </div>
                </div>
              </a>
              <a @mouseenter="playWind()" @mouseleave="stopWind()" href="https://salvatoreb98.github.io/proj-html-vuejs/" class="work-container col-lg-3 col-md-6" target="_blank">
                <img src="src/imgs/avada.png" style=" filter: brightness(0.8);" class="w-100" alt="">
                <div class="work-description">
                  Avada movers word press theme replica  
                  <br> Technology used:
                   <br> HTML5, CSS3
                   <div>
                     <img class="project-icon" src="src/imgs/html5.png">
                     <img class="project-icon" src="src/imgs/css3.png">
                   </div>
                </div>
              </a>
              <a @mouseenter="playWind()" @mouseleave="stopWind()" href="https://salvatoreb98.github.io/vue-boolzapp/" class="work-container col-lg-3 col-md-6" target="_blank">
                <img src="src/imgs/boolzap.png" class="w-100" alt="">
                <div class="work-description">
                  Boolzap 
                  <br> Technology used:
                   <br> VueJS
                   <div>
                     <img class="project-icon" src="src/imgs/vue-js.png">
                   </div>
                </div>
              </a>
              <a @mouseenter="playWind()" @mouseleave="stopWind()" href="https://salvatoreb98.github.io/html-css-spotifyweb/" class="work-container col-lg-3 col-md-6" target="_blank">
                <img src="src/imgs/spotify.png" class="w-100" alt="">
                <div class="work-description">
                  Spotify replica
                  <br> Technology used:
                   <br> HTML5, CSS3
                   <div>
                     <img class="project-icon" src="src/imgs/html5.png">
                     <img class="project-icon" src="src/imgs/css3.png">
                   </div>
                </div>
              </a>
            </div>
            <div class="text-center mt-5 mb-3">
              <button type="button" @click="setActive('skills')" class="btn btn-outline-primary">Skills</button>
            </div>
          </div>


          <div v-if="selectedButton.id == 'skills'" class="no-select">
            <div>
              <h2 class="text-center">
                SKILLS 
              </h2>
              <h5 class="text-center">
                AND TECHNOLOGIES
              </h5> 
            </div>
            <div class="d-flex flex-column mt-2 mb-2">
              <div class="position-relative">
                <div id="sphere-container"></div>
                <div v-if="grabInfo" class="position-absolute grab-info"> <h6> <i id="grab-icon" class="fa fa-hand-paper-o"></i> GRAB TO CHANGE SKILL</h6></div>
              </div>
              <div style="max-width: 20em;" class="align-self-center justify-content-center skill-info">
                <div v-if="selectedSkill == 'javascript'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/jsSquare.png" alt=""> 
                    <div>JAVASCRIPT</div> 
                  </h4>
                  <p>
                    I largely used javascript during the Boolean Trainee and personal projects. I developed intermediate knowledge about this wonderful programming language
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Intermediate / Advanced</div>
                </div>
                <div v-if="selectedSkill == 'bootstrap'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/bootstrap.png" alt=""> 
                    BOOTSTRAP
                  </h4>
                  <p>
                    Bootstrap is a great improvement in terms of code manutenibility and development time. I used this CSS framework in several project in NTT and during the Boolean Trainee
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Intermediate / Advanced</div>
                </div>
                <div v-if="selectedSkill == 'html'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/html5.png" alt=""> 
                    HTML
                  </h4>
                  <p>
                    I can build semantic HTML code thanks to my experience. I mastered this skill during these years as front-end developer
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Advanced</div>
                </div>
                <div v-if="selectedSkill == 'css'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/css3.png" alt=""> 
                    CSS
                  </h4>
                  <p>
                    What kind of front-end developer would I be if i did not know CSS? I love customize and stylize websites and projects with good CSS lines
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Advanced</div>
                </div>
                <div v-if="selectedSkill == 'java'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/java.jpg" alt=""> 
                    JAVA
                  </h4>
                  <p>
                    Java is the programming language thanks to wich i learned OOP. During my period in NTT DATA I developed some SOAP micro-services with JAVA for a software that manage Carrefour warehouses.
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Basic / Intermediate </div>
                </div>
                <div v-if="selectedSkill == 'angular'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/angular.png" alt=""> 
                    ANGULAR
                  </h4>
                  <p>
                    I developed this skill working in NTT DATA for a big project for MERFINA MERCEDES BUSSINESS LINK. 
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Intermediate </div>
                </div>
                <div v-if="selectedSkill == 'typescript'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/ts.png" alt=""> 
                    TYPESCRIPT
                  </h4>
                  <p>
                    This skill is closely related to angular and it hasn't been a problem for me switching from javascript to typescript
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Intermediate </div>
                </div>
                <div v-if="selectedSkill == 'scss'">
                  <h4 class="d-flex justify-content-center">
                    <img class="skill-icon" src="src/imgs/scss.png" alt=""> 
                    SCSS
                  </h4>
                  <p>
                    I approached this prepocessor during Boolean and I think that is a powerful tool. The NTT projects that I worked on make use of it.
                  </p>
                  <div class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="mt-1 text-center"> Intermediate </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5 mb-3">
              <button type="button" @click="setActive('contacts')" class="btn btn-outline-primary hidden">Contacts</button>
            </div>
          </div>
          <div v-if="selectedButton.id == 'contacts'" class="contacts">
            <div class="d-flex flex-column">
              <h3 class="">
                Do not exitate to contact me
              </h3>
              <h5 class="" style="max-width: 25em;">
                Whether you have a question I will be happy to help and get in touch with you
              </h5>
              <div class="mt-5">
                <div class="d-flex align-items-center">
                  <i class="fa fa-envelope" aria-hidden="true"></i> 
                  <p class="p-0 m-2"> <a href="mailto:salvatore.butera@gmail.com" target="_blank"> salvatore.butera@gmail.com</a> </p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <p class="p-0 m-2"><a href="tel:+390968829192" target="_blank"> +39 0968829192</a> </p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                  <p class="p-0 m-2"> <a href="tel:+393460415196" target="_blank">+39 3460415196</a> </p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  <p class="p-0 m-2"> <a href="https://www.linkedin.com/in/salvatore-butera-16a271143/" target="_blank">Salvatore Butera - Linkedin</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tooltip" ref="tooltip">
      </div>
      <div class="my-navbar">
        <div>
          <div  v-on:click="setActive('home-profile')" id="home-profile" class="icon-container" >
            <i class="fix-svg">
              <img src="src/imgs/logo blu.svg" alt="">
            </i>
          </div>
        </div>
        <div  v-on:click="setActive('about-me')" id="about-me"  class="text-center icon-container">
          <i class="fa fa-address-book-o fa-2x p-2" aria-hidden="true"></i>
        </div>
        <div  v-on:click="setActive('career')" id="career" class="text-center icon-container">
          <i class="fix-svg">
            <svg class="career-icon" version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 595.3" style="enable-background:new 0 0 595.3 595.3;" xml:space="preserve">
              <g id="XMLID_2_">
                <path id="XMLID_10_" d="M275.3,227.3c-12.1,5.9-22.6,10.8-32.7,16.3c-2.4,1.3-4,4.7-5,7.5c-3.7,9.9-7.2,19.9-10.3,30
                  c-2,6.7-5.8,8.2-11.9,5.7c-3.3-1.3-7.4-1.5-9.8-3.7c-2.4-2.3-5.1-6.9-4.3-9.5c5.3-17.5,11.3-34.9,17.7-52c1.2-3.2,4.6-6.2,7.7-7.8
                  c17.6-8.9,35.3-17.7,53.3-25.7c4.8-2.1,11-2.2,16.3-1.5c16.1,2.1,32.1,4.6,48,7.8c5.1,1,10.3,4,14.4,7.4c6,4.9,11.6,10.4,16.5,16.4
                  c12.2,15,26.2,24.9,46.9,20.7c8.9-1.8,9.5,4.8,9.2,11.4c-0.3,6.5,1.8,14.2-9.1,14c-14.1-0.3-28.3,0.4-42.3-0.3
                  c-4.4-0.2-9.2-3-12.7-6c-6.3-5.5-11.8-12-19.3-19.9c-4.8,18.4-9,34.3-13.4,51.3c16.5,5.3,32.2,11.2,48.5,15.3
                  c10.8,2.7,13.8,8.3,13.3,18.7c-0.8,14.4-0.5,28.9-0.1,43.4c0.2,8.4-2.5,12.2-11.5,12c-25.7-0.6-23.8,2.5-22.9-23.4
                  c0.4-11.5-3.4-16.5-14.2-19.9c-25.2-8-49.8-17.8-74.7-26.4c-6.9-2.4-9.3-5.5-8-13.1C268.7,273.7,271.7,251.4,275.3,227.3z"/>
                <path id="XMLID_9_" d="M232.6,395.4c-3.8-1.3-6.2-2-8.5-2.9c-30.4-11-60.8-22.3-91.4-32.9c-8.8-3-10.8-6.9-7.3-15.5
                  c6.1-15,11.6-30.3,16.7-45.6c2.4-7.2,6.3-8.4,12.8-5.9c32,11.9,64,23.7,96.1,35.3c5.9,2.1,7.7,5.5,5.6,11.2
                  c-6.2,16.8-12.3,33.7-18.7,50.5C237,392.1,234.2,393.8,232.6,395.4z"/>
                <path id="XMLID_8_" d="M280,325.9c13.2,4.9,25.1,9.3,37.7,14c-6.1,24.8-6.4,50.8-26.5,70.1c-7.5,7.3-12.7,16.9-19.9,24.6
                  c-2.1,2.2-7.5,1.4-11.4,1.8c-0.5,0.1-1.1-0.8-1.7-1.2c-21.9-17.9-20.6-13.6-4.1-32.2c15.3-17.2,16.5-38.2,21.6-58.4
                  C277.3,338.7,278.4,332.9,280,325.9z"/>
                <path id="XMLID_7_" d="M326.2,178.1c-18,0.1-32.5-14.3-32.4-32.1c0.1-17.6,15-32.2,32.7-32c17.2,0.2,31.6,14.5,31.9,31.7
                  C358.6,163.4,344.1,178,326.2,178.1z"/>
                <path id="XMLID_6_" d="M416.4,395.8c15.1,0,30.3,0.3,45.4-0.1c7.5-0.2,9.7,2.5,9.6,9.7c-0.1,6.7-2.1,9.4-9.1,9.3
                  c-31-0.3-62-0.3-92.9,0c-8.2,0.1-8.9-3.9-9.1-10.4c-0.2-7.4,3.1-8.8,9.6-8.6C385.4,396,400.9,395.8,416.4,395.8z"/>
                <path id="XMLID_5_" d="M358.7,446.9c-15.8,0-31.7-0.2-47.5,0.1c-6.6,0.1-8.6-2.4-8.4-8.7c0.1-5.9,0.5-10.2,8.3-10.1
                  c31.3,0.2,62.7,0.2,94,0c7.5-0.1,8.6,3.7,8.6,10c0,6.1-1.7,9-8.4,8.8C389.7,446.6,374.2,446.9,358.7,446.9z"/>
                <path id="XMLID_4_" d="M300.3,481.2c-15.2,0-30.4-0.3-45.5,0.1c-7.2,0.2-10.2-2-10.1-9.6c0.1-7.1,2.9-9,9.6-9
                  c30.7,0.2,61.4,0.2,92.2,0c6.7,0,9.4,1.9,9.5,9c0.1,7.6-2.9,9.7-10.1,9.6C330.7,480.9,315.5,481.2,300.3,481.2z"/>
                <path id="XMLID_3_" d="M182.6,296.3c1.8-4.8,3-8.3,4.8-13c14.2,5.2,27.8,10.1,42.6,15.5c-1.4,4.3-2.6,8.1-4.2,13.1
                  C211.3,306.7,197.6,301.8,182.6,296.3z"/>
              </g>
            </svg>
          </i> 
        </div>
        <div  v-on:click="setActive('education')" id="education" class="text-center icon-container">
          <i class="fix-svg"> 
            <svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 595.3" style="enable-background:new 0 0 595.3 595.3;" xml:space="preserve">
            <g>
              <path d="M188.2,241.9c-1.3-0.6-3.1-1.3-4.8-2.1c-27.7-13.3-55.3-26.6-83-40c-0.4-0.2-0.7-0.3-1-0.5c-3.4-2-3.4-5.9,0.1-7.7
                c4.7-2.5,9.4-4.8,14.2-7.1c31.2-15,62.3-30.1,93.5-45c22.6-10.8,45.4-21.5,68.1-32.1c7.3-3.4,14.9-3.5,22.2-0.1
                c19,8.8,38,17.7,56.9,26.7c32.5,15.4,64.9,30.9,97.3,46.4c6.6,3.2,13.2,6.5,19.8,9.8c0.7,0.4,1.4,0.7,2.1,1.1
                c1.6,0.9,2.7,2.2,2.7,4.2c-0.1,1.9-1.2,3.1-2.8,3.9c-5,2.5-10,5.1-15.1,7.5c-34.9,16.8-69.8,33.6-104.8,50.3
                c-18.6,8.9-37.4,17.6-56.1,26.3c-6.7,3.1-13.6,3.2-20.3,0.3c-10.2-4.3-20.2-9-30.2-13.7c-13.6-6.5-27.2-13.2-40.8-19.8
                c-1-0.5-1.9-1-2.8-1.6c-1.6-1.2-1.6-2,0.1-3.1c2-1.2,4-2.3,6-3.4c20.2-10.5,40.5-21,60.7-31.5c1.3-0.7,2.7-1.2,4-1.8
                c2.2-1,4.4-1.2,6.9-0.8c5.3,0.8,10.7,0.5,15.8-1.2c3.5-1.1,6.4-3.3,8.7-6.2c3.4-4.3,2.5-9.5-2.5-13.1c-5.3-3.9-11.5-5.2-18-5
                c-5.3,0.2-10.2,1.5-14.5,4.8c-3.2,2.5-5.4,5.5-4.9,9.9c0.1,0.8-0.7,1.9-1.5,2.4c-2.6,1.7-5.2,3.3-8,4.7
                c-17.6,9.2-35.2,18.4-52.8,27.7c-3.7,1.9-7.3,4-10.8,6.2C190.9,239,189.9,240.4,188.2,241.9z"/>
              <path d="M207.5,262.9c3.6,1.7,7,3.2,10.3,4.8c19.3,9.1,38.5,18.3,57.9,27.3c6.7,3.1,13.6,3.3,20.5,0.1c26.4-12.5,52.9-25,79.3-37.5
                c8.9-4.2,17.7-8.5,26.5-12.8c0.4-0.2,0.8-0.3,1.5-0.6c0.1,0.7,0.2,1.3,0.2,1.8c0.1,15.8,0.3,31.7,0.4,47.5c0,0.9-0.3,1.9-0.6,2.7
                c-4.4,10.4-11.6,18.5-20.3,25.4c-15.4,12.5-32.9,20.9-51.8,26.7c-21.4,6.5-43.2,8.2-65.3,5.5c-15.6-1.9-30.6-6.4-45.2-12.3
                c-3.8-1.5-5-3.6-5.4-7.3c-2-17.9-4.3-35.7-6.4-53.5c-0.6-5.1-1.1-10.3-1.6-15.4C207.5,264.7,207.5,264,207.5,262.9z"/>
              <path d="M235,504.8c0.8-1.2,1.6-2.4,2.5-3.6c9.2-12,11.7-25.5,9.2-40.1c-2.7-15.7-10.9-28.3-22.4-39c-5-4.7-10.3-9-16.3-12.4
                c-1.3-0.8-2.5-1.8-3.7-2.6c0.1-0.2,0.1-0.3,0.2-0.5c0.6-0.2,1.2-0.4,1.9-0.5c11.1-1.9,22.3-3.6,33.4-5.6
                c12.2-2.1,24.4-4.3,36.6-6.7c13.9-2.7,27.7-5.6,41.6-8.4c3.2-0.7,6.5-1.7,9.7-1.9c10.2-0.8,18.5,3.4,25.3,10.7
                c2.4,2.6,4.3,5.6,6.5,8.3c1,1.2,0.8,1.9-0.4,2.8c-5.6,4.1-8.3,9.9-9.1,16.7c-0.3,2.4,0.3,4.9,0.3,7.3c0,1.5,0.3,3.1-0.2,4.4
                c-2.5,6.3-5.2,12.5-7.9,18.8c-2,4.7-4.2,9.3-6.2,14c-0.5,1.2-1.2,1.9-2.5,2.3c-26.8,8.7-53.2,18.5-79.5,28.8
                c-5.6,2.2-11.2,4.6-16.9,6.8c-0.6,0.2-1.2,0.5-1.8,0.7C235.3,505,235.1,504.9,235,504.8z"/>
              <path d="M349.6,377.6c8-2.2,16-4.2,23.8-6.4c20.4-5.8,40.7-11.7,61-17.4c8.9-2.5,17.9-4.9,26.8-7.2c5.5-1.4,10.6,0.4,15.4,2.8
                c8.5,4.3,14.3,11.2,18.6,19.5c7,13.5,7.9,27.4,2.5,41.5c-4.8,12.4-13.4,20.4-26.8,23.1c-13.6,2.7-27.2,5.9-40.8,9
                c-8.7,2-17.4,4.2-26,6.3c-1.2,0.3-1.8,0.1-2.5-0.9c-3.6-5.2-7.3-10.4-10.9-15.6c-0.6-0.8-0.9-1.9-0.9-2.9
                c-0.2-4.3-0.2-8.5-1.7-12.6c-2.2-6.2-6.1-10.8-12.2-13.3c-2.6-1.1-4.5-2.7-5.8-5.3c-4.1-8.1-10.3-14.4-18.3-18.7
                c-0.7-0.4-1.3-0.8-2-1.3C349.8,378.1,349.7,377.9,349.6,377.6z"/>
              <path d="M134.6,462.6c0.1-9.2,1.4-18.1,5.7-26.4c5.6-10.6,14.1-17.8,25.3-21.9c3.7-1.3,7.5-2.4,11.4-3c8-1.3,15.6,0.7,22.7,4.1
                c15.6,7.3,27.3,18.7,34.4,34.4c4.8,10.7,6.7,21.8,3.4,33.3c-3.3,11.6-11.1,19.3-22,23.7c-20.6,8.2-42.5-2.6-52-20.6
                c-5.1-9.7-6.6-19.8-2.6-30.3c5.2-13.8,18.7-19.2,32.2-13.1c8.3,3.8,14.2,10.1,18.5,18c1.1,2,0.8,2.7-1.3,3.7
                c-1.9,0.9-3.8,1.7-5.7,2.6c-1,0.5-1.5,0.3-2-0.7c-1.9-4-5-7-8.1-10c-5.3-5.1-18.1-4.4-22.3,5.3c-2.6,5.9-2.2,11.9,0.2,17.7
                c3.9,9.3,10.6,15.9,20.6,18c8.6,1.8,17,0.5,23.5-6.3c5.4-5.6,6.8-12.7,6.2-20.2c-1.4-16.1-10.1-27.4-24.1-34.8
                c-8.1-4.3-16.8-5.6-25.6-2.9c-11.9,3.7-18.8,12.3-21.6,24.2c-1.9,7.9-1.4,15.8,0.8,23.7c0.3,1.2,0.1,2.1-1,2.7
                c-3.2,1.5-6.4,3.1-9.6,4.4c-1.6,0.7-2.6,0.1-3.1-1.9c-1.2-4.9-2.3-9.8-3.2-14.8C134.7,468.5,134.8,465.5,134.6,462.6z"/>
              <path d="M194.4,259.6c0.3,1.7,0.6,3.4,0.8,5.1c1.6,12,3.2,24.1,4.8,36.1c1.6,12.3,3.3,24.6,4.8,36.9c1,7.7,1.8,15.4,2.5,23.1
                c0.4,3.8-0.3,4.9-3.8,6.3c-5.6,2.2-11.3,2.1-17,0.7c-2.4-0.6-4.2-2.1-5.7-4c-0.4-0.5-0.5-1.3-0.4-1.8c2.1-16,4.2-32.1,6.3-48.1
                c1.6-11.9,3.1-23.8,4.7-35.7c0.8-6.2,1.7-12.3,2.5-18.5C194,259.6,194.2,259.6,194.4,259.6z"/>
              <path d="M174.7,308.8c-0.3-0.6-0.6-1.2-1-1.7c-2.1-3.9-4.3-7.7-6.4-11.6c-0.3-0.5-0.3-1.2-0.3-1.8c0-16.2,0-32.3,0-48.5
                c0-0.5,0.1-1,0.1-1.6c0.5,0.1,0.9,0.2,1.2,0.3c4.4,2.1,8.7,4.1,13.1,6.2c1,0.5,1.3,1.1,1.2,2.1c-1.6,12.8-3.2,25.6-4.8,38.4
                c-0.7,5.5-1.4,10.9-2.1,16.4c-0.1,0.5-0.2,0.9-0.3,1.4C175.1,308.5,174.9,308.7,174.7,308.8z"/>
              <path d="M366.7,482.2c-1.4-0.8-2.5-1.4-3.4-2.1c-2-1.5-4-2.9-5.8-4.5c-1.3-1.2-2.4-1.2-3.9-0.3c-3.6,2-7.3,3.9-11,5.8
                c-0.7,0.4-1.4,0.6-2.6,1c0.3-1.1,0.4-1.7,0.6-2.3c4.2-10.1,8.5-20.2,12.7-30.3c0.8-1.9,1.8-3.8,2.6-5.7c0.5-1.2,1.2-1.6,2.3-0.7
                c3.1,2.5,6.8,3.7,10.6,4.6c2.3,0.6,2.4,0.6,2,3.1c-1.1,9-2.3,18-3.4,27.1C367.1,479.1,366.9,480.4,366.7,482.2z"/>
              <path d="M179.3,469.6c0.1-0.9,0.2-1.9,0.3-2.8c0.7-4.5,5.3-6.6,9.2-4.1c2.9,1.8,4.6,4.6,6,7.5c0.8,1.5,1.4,3.1,2.1,4.6
                c0.9,2.1,2,2.9,4.2,2.2c2.7-0.8,5.4-1.8,8.1-2.8c1.3-0.4,2.5-0.9,3.8-1.3c0.9-0.3,1.4,0.1,1.4,1.1c-0.7,8.1-2.9,12.8-10.5,14.9
                C192.3,492.1,179.4,482.5,179.3,469.6z"/>
              <path d="M381.2,426.6c-0.1,3.8-1.7,7.7-5.4,10.5c-3.8,2.9-7.7,2.8-11.4-0.3c-6.7-5.6-7.9-15-2.7-22c3.4-4.6,9.3-5.3,13.8-1.7
                C378.8,415.9,381.2,421.1,381.2,426.6z"/>
              <path d="M403.9,466.5c-2.3-0.3-4.2-0.6-6-0.9c-3.6-0.6-4.7-0.1-6.7,3.1c-1.5,2.4-2.8,4.9-4.2,7.3c-0.3,0.6-0.7,1.1-1.3,2
                c-0.7-1.8-1.2-3.2-1.7-4.6c-2.8-8.1-5.6-16.2-8.5-24.3c-0.4-1.2-0.2-1.7,0.9-2.4c2.7-1.6,5.2-3.5,7.7-5.3c0.9-0.7,1.6-1.2,2.5,0.1
                c5.5,7.9,11,15.7,16.5,23.6C403.4,465.3,403.5,465.7,403.9,466.5z"/>
            </g>
            </svg>
          </i>
        </div>
        <div  v-on:click="setActive('works')" id="works" class="text-center icon-container">
          <i class="fa fa-briefcase fa-2x p-2" aria-hidden="true"></i>
        </div>
        <div  v-on:click="setActive('skills')" id="skills" class="text-center icon-container">
          <i class="fa fa-laptop fa-2x p-2" aria-hidden="true"></i>
        </div>
        <div class="flex-grow-1">
          <div  v-on:click="setActive('contacts')" id="contacts" class="text-center icon-container">
            <i class="fa fa-envelope-o fa-2x p-2" aria-hidden="true"></i>
          </div>
        </div>
        <div class="text-center icon-container" id="download CV">
          <a href="./files/Salvatore butera.pdf" download> <i class="fa fa-download fa-2x p-2" aria-hidden="true"></i> </a>
        </div>
      </div>
    </main>
    <script type="module" src="/js/mainThree.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script type="module" src="/js/animations.js"></script>
    <script type="module" src="/js/mainVue.js"></script>
  </body>
</html>
